<div class="cv__personal-info">
  <div class="cv__image">
    <img class="cv__image-display" id="preview" [src]="'../../../assets/img/profile_default.png'" alt="Alan Smith" />
  </div>
  <div class="cv__name">
    <h1 class="cv__heading-primary">Nombre</h1>
    <h2 class="cv__heading-secondary">Título</h2>
  </div>
  <div class="cv__info">
    <p class="cv__personal-text">email@email.com</p>
    <p class="cv__personal-text">11-22-33-44</p>
    <p class="cv__personal-text">55-66-77-88</p>
    <p class="cv__personal-text">UCR, Montes de Oca</p>
  </div>
</div>
