<div class="owl-item">
  <div class="home_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="home_content">
            <div class="home_subtitle">#1 Creador de CV en línea</div>
            <div class="home_title">Obten el trabajo de tus sueños</div>
            <div class="home_text">
              <p>EZCV te ayuda a crear un Currículum Vitae de alta calidad para aplicar a ese empleo que tanto deseas.
              Crea tu CV de manera sencilla y rápida a través de nuestra página web.</p>
            </div>
            <div class="home_buttons d-flex flex-row align-items-center justify-content-start">
              <div class="button button_1 trans_200"><a routerLink="/">Leer más</a></div>
              <div class="button button_2 trans_200"><a routerLink="/signup">Únete Ahora</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container carousel-size">
  <div class="row">
    <div class="col">
      <ngb-carousel *ngIf="images">
        <ng-template class="carousel-center-items" ngbSlide *ngFor="let image of images">
          <img [src]="image" alt="Random first slide">
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
