<div class="cv__main">

  <div class="cv__main-label">
    <h3 class="cv__main-heading">Estudios</h3>
  </div>
  <div class="cv__main-content">
    <div class="cv__company-data">
      <h4 class="cv__heading-quaternary">Título de estudio académico</h4>
      <h5 class="cv__details-text">Institución educativa</h5>
      <p class="cv__details-text">2012</p>
      <p class="cv__details-text">Ciudad, País</p>
    </div>
    <div class="cv__company-data">
      <h4 class="cv__heading-quaternary">Título de estudio académico</h4>
      <h5 class="cv__details-text">Institución educativa</h5>
      <p class="cv__details-text">2018</p>
      <p class="cv__details-text">Ciudad, País</p>
    </div>
  </div>

  <div class="cv__main-label">
    <h3 class="cv__main-heading">Experiencia Laboral</h3>
  </div>
  <div class="cv__main-content">
    <div class="cv__company-data">
      <h4 class="cv__heading-quaternary">Cargo</h4>
      <h5 class="cv__details-text">Empresa</h5>
      <p class="cv__details-text">dd/mm/aaaa - dd/mm/aaaa</p>
      <p class="cv__details-text">Ciudad, País</p>
    </div>
    <div class="cv__company-data">
        <h4 class="cv__heading-quaternary">Cargo</h4>
        <h5 class="cv__details-text">Empresa</h5>
        <p class="cv__details-text">dd/mm/aaaa - dd/mm/aaaa</p>
        <p class="cv__details-text">Ciudad, País</p>
      </div>
  </div>

  <div class="cv__main-label">
    <h3 class="cv__main-heading">Habilidades Clave</h3>
  </div>
  <div class="cv__main-content">
    <div class="cv__company-data">
      <h4 class="cv__heading-quaternary">Habilidad</h4>
    </div>
    <div class="cv__company-data">
        <h4 class="cv__heading-quaternary">Habilidad</h4>
    </div>
    <div class="cv__company-data">
        <h4 class="cv__heading-quaternary">Habilidad</h4>
    </div>
    <div class="cv__company-data">
        <h4 class="cv__heading-quaternary">Habilidad</h4>
    </div>
    <div class="cv__company-data">
        <h4 class="cv__heading-quaternary">Habilidad</h4>
    </div>
    </div>

</div>