<div class="cv__main">
  <div class="cv__main-label">
    <h3 class="cv__main-heading">Experiencia Laboral</h3>
  </div>
  <div class="cv__main-content grid__start">
    <div class="cv__company-data" *ngFor="let exp of cv.chronologicData">
      <h4 class="cv__heading-quaternary">{{exp.companyRole}} en {{exp.companyName}}</h4>
      <p class="cv__details-text">{{exp.companyStart}} - {{exp.companyFinish}}</p>
      <p class="cv__info-text">
        {{exp.companyFunction}}
      </p>
    </div>
<!--    <div class="cv__company-data">
      <h4 class="cv__heading-quaternary">Título de trabajo en Compañía X</h4>
      <p class="cv__details-text">April 2011 - Present</p>
      <p class="cv__info-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged.
      </p>
    </div>-->
  </div>
</div>
