<div class="cv__main">
  <div class="cv__main-label grid__start">
    <h3 class="cv__main-heading">Experiencia Laboral</h3>
  </div>
  <div class="cv__main-content grid__start">
    <div class="cv__company-data" *ngFor="let exp of cv.chronologicData">
      <h4 class="cv__heading-quaternary">{{exp.companyRole}} en {{exp.companyName}}</h4>
      <p class="cv__details-text">{{exp.companyStart}} - {{exp.companyFinish}}</p>
      <p class="cv__info-text">
        {{exp.companyFunction}}
      </p>
    </div>
  </div>
</div>
