*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

::selection {
  background-color: #55c57a;
  color: #fff; }

.user__image{
  width: 90%;
  border-radius: 300px;
  margin-bottom: 2rem;
}

hr {
  border-top: 1px solid #dedede;
}

/* --------------------------------------------- */
/* CV */
/* --------------------------------------------- */

.cv {
  background-color: #181818;
  overflow:auto;
  min-height: 90vh;
}

.cv__wrapper {
  margin: 3rem auto;
  width: 90%;
  max-width: 90rem;
  border-radius: 3px;
}

.cv__shared-info-top {
  background-color: #ddd;
  border-bottom: 4px solid #cf8a05;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.cv__shared-info-bottom {
  background-color: #ededed;
}

.cv__main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
  justify-items: center;
}

.cv__main-edit {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 5rem;
}

.cv__main-edit:not(:last-of-type) {
  border-bottom: 1px solid #bbb;
}

.cv__main-content {
  margin: 1rem;
}

.cv__main-heading {
  color: #cf8a05;
  font-weight: 400;
  font-size: 2.9rem;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  font-style: italic;
}

.cv__info-text {
  color: #444;
  line-height: 2.2rem;
  font-size: 1.8rem;
}

.cv__submit-area {
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #ededed;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cv__display-section {
  padding: 0 2rem;
}

.cv__display-chrono,
.cv__display-functional {
  background-color: #ededed;
}

.cv__name {
  justify-self: start;
  align-self: start;
}

.cv__info {
  justify-self: end;
  margin-right: 8rem;
}

.cv__heading-primary {
  color: #222;
  font-weight: 700;
  font-size: 5rem;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  margin-top: 1rem;
}

.cv__heading-secondary {
  color: #222;
  font-weight: 400;
  font-size: 3.5rem;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  margin-top: -3rem;
}

.cv__heading-quaternary {
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  color: #222;
  line-height: 2.5rem;
}

.cv__details-text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: .5rem;
  color: #444;
}

.cv__personal-text {
  color: #444;
  font-size: 1.6rem;
}

.cv__company-data:not(:first-child) {
  margin-top: 3rem;
}

.cv__company-data:last-child {
  margin-bottom: 1rem;
}

.cv__image {
  display: flex;
  justify-content: space-around;
  margin: 3rem;
}

.cv__image-display {
  width: 80%;
  height: 80%;
  border-radius: 300px;
}

.cv__chronologic,
.cv__functional {
  background-color: #ededed;
}

.cv__section-banner {
  background-color: #cf8a05;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.cv__section-banner:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.cv__banner-text {
  color: #ddd;
  font-weight: 400;
  font-size: 3rem;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.cv__skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1.5rem;
  grid-column-gap: 3rem;
}

.cv__skill-text {
  font-size: 2rem;
  color: #444;
  font-weight: 400;
}

/* --------------------------------------------- */
/* INPUT FILE */
/* --------------------------------------------- */

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  background-color: #cf8a05;
  display: inline-block;
}

/* --------------------------------------------- */
/* FORM */
/* --------------------------------------------- */

.form,
.cv__personal-info {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-column-gap: 1.5rem;
  justify-items: center;
  align-items: center;
}

.form__section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin: 2rem;
}

.form__section--full {
  width: 100%;
}

.form__group {
  width: 100%;
  max-width: 40rem;
}

.form__group--big {
  max-width: 80rem;
}

.form__group:first-child {
  margin-top: 2.5rem;
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__group--image {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin: 2rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s;
}

.form__input--full {
  width: 95%;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}

.form__input.ng-touched.ng-invalid {
  border-bottom: 3px solid red;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
}

.form__input:not(.ng-touched):placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__input.ng-touched.ng-invalid + .form__label {
  display: block;
  color: darkred;
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem;
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity .2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.form__chronologic-group,
.form__functional-group {
  display: grid;
  grid-template-columns: 4.5fr 4.5fr 1fr;
}

.form__chronologic-company,
.form__functional-name {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
}

.form__chronologic-role,
.form__functional-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.form__chronologic-start,
.form__functional-city {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.form__chronologic-finish,
.form__functional-year {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.form__chronologic-function {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.form__chronologic-button,
.form__functional-button {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  align-self: start;
  justify-self: center;
}

.form__chronologic-group:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}

.form__chronologic-group:not(:first-of-type) {
  margin-top: 2rem;
}

.form__skill-group {
  display: grid;
  grid-template-columns: 4.5fr 1fr 4.5fr;
}

.form__skill-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.form__skill-button {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: start;
  justify-self: center;
}

/* --------------------------------------------- */
/* SWITCH */
/* --------------------------------------------- */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
  align-self: center;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* --------------------------------------------- */
/* SLIDER */
/* --------------------------------------------- */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.7rem;
  width: 1.7rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #181818;
}

input:focus + .slider {
  box-shadow: 0 0 1px #181818;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.6rem);
  -ms-transform: translateX(2.6rem);
  transform: translateX(2.6rem);
}

/* --------------------------------------------- */
/* ROUNDED SLIDERS */
/* --------------------------------------------- */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* --------------------------------------------- */
/* BUTTONS */
/* --------------------------------------------- */

a:link,
a:visited,
a:hover,
a:active {
  display: block;
  text-decoration: none;
}

.button {
  padding: 1rem 1.5rem;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.6rem;

  transform: translateY(0);
  transition: all .3s;
}

.button:active,
.button:focus {
  outline: none;
}

.button:not(:disabled):hover {
  transform: translateY(-2px);
  box-shadow: 0 .5rem 1rem #ccc;
}

.button:not(:disabled):active {
  transform: translateY(1px);
  box-shadow: none;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--square {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
}

.button--round {
  border-radius: 300px;
}

.button--error {
  background-color: #B33A3A;
  color: white;
}

.button--error:hover {
  background-color: #933030;
}

.button--primary {
  background-color: #cf8a05;
  color: #eee;
  border: 1px solid #cf8a05;
}

.button--primary:hover {
  background-color: #eee;
  color: #cf8a05;
  border: 1px solid #cf8a05;
}

.button--primary-outline {
  background-color: #eee;
  color: #cf8a05;
  border: 1px solid #cf8a05;
}

.button--primary-outline:hover {
  background-color: #cf8a05;
  color: #eee;
  border: 1px solid #cf8a05;
}

/* --------------------------------------------- */
/* SHARED */
/* --------------------------------------------- */

.full {
  min-width: 90%;
}

.mt-0 {
  margin-top: 0 !important;
}

.grid__start {
  justify-self: start;
}

/* --------------------------------------------- */
/* MOBILE NAVIGATION */
/* --------------------------------------------- */

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.icon-mobile {
  font-size: 200%;
  color: #fff;
}

/* --------------------------------------------- */
/* HEADER */
/* --------------------------------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 1.5rem 3rem;
}

.header__logo {
  display: block;
  width: 5rem;
  height: 5rem;
}

.header__nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 2rem;
  align-content: center;
}

.header__mobile {
  display: none;
}

/* --------------------------------------------- */
/* SIGNIN */
/* --------------------------------------------- */

.signin {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-content: center;
}

.signin__input {
  border-radius: 300px;
  border: 1px solid #ededed;
}

/* NAV ICON */
.navigation__checkbox {
  display: none;
}

.navigation__button {
  height: 7rem;
  width: 7rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.navigation__icon {
  position: relative;
  margin-top: 2.2rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* --------------------------------------------- */
/* SMALL PHONES TO SMALL TABLETS (481 TO 767px) */
/* --------------------------------------------- */
@media only screen and (max-width: 767px) {

  .header__nav-list,
  .signin {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 1.5rem;
  }

  .header__mobile {
    display: block;
  }

  .hidden {
    display: none;
  }

}
