*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

::selection {
  background-color: #55c57a;
  color: #fff; }

.user__image{
  width: 90%;
  border-radius: 300px;
  margin-bottom: 2rem;
}

.cv {
  background-color: #181818;
  overflow:auto;
  min-height: 90vh;
}

.cv__wrapper {
  margin: 3rem auto;
  width: 90%;
  max-width: 90rem;
}

.cv__shared-info {
  background-color: #ededed;
  border-bottom: 4px solid #cf8a05;
}

.cv__name {
  justify-self: start;
  align-self: start;
}

.cv__info {
  justify-self: end;
  margin-right: 8rem;
}

.cv__heading-primary {
  color: #222;
  font-weight: 700;
  font-size: 5rem;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  margin-top: 1rem;
}

.cv__heading-secondary {
  color: #222;
  font-weight: 400;
  font-size: 3.5rem;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  margin-top: -3rem;
}

.cv__personal-text {
  color: #444;
  font-size: 1.6rem;
}

.cv__image {
  display: flex;
  justify-content: space-around;
  margin: 3rem;
}

.cv__image-display {
  width: 80%;
  height: 80%;
  border-radius: 300px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  background-color: #cf8a05;
  display: inline-block;
}

.form,
.cv__personal-info {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-column-gap: 1.5rem;
  justify-items: center;
  align-items: center;
}

.form__section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin: 2rem;
}

.form__section--full {
  width: 100%;
}

.form__group {
  width: 100%;
  max-width: 40rem;
}

.form__group:first-child {
  margin-top: 2.5rem;
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__group--image {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin: 2rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}

.form__input.ng-touched.ng-invalid {
  border-bottom: 3px solid red;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
}

.form__input:not(.ng-touched):placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__input.ng-touched.ng-invalid + .form__label {
  display: block;
  color: darkred;
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem;
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity .2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
