<form
  class="signin"
  #f="ngForm"
  (ngSubmit)="onSubmit(f)"
>
  <input
    type="text"
    class="form__input signin__input"
    placeholder="Correo electrónico"
    id="username"
    name="username"
    ngModel
    required
    email
    #email="ngModel"
  >
  <input
    type="password"
    class="form__input signin__input"
    placeholder="Contraseña"
    id="password"
    name="password"
    ngModel
    required
    #password="ngModel"
  >

  <button
    class="button button--round button--primary-outline"
    type="submit"
    [disabled]="!f.valid"
  >
    Iniciar Sesión
  </button>
  <div class="mt-medium" *ngIf="loginError">
    <h2 class="button--error">No fue posible iniciar sesión.</h2>
  </div>
  <div class="mt-medium" *ngIf="loginError">
    <h2 class="button--error">Revise de nuevo los datos ingresados.</h2>
  </div>
</form>

